<!-- Simple Bootstrap Popup -->
<div class="modal fade show d-block" *ngIf="showPopup" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Join Pre-Scheduled MCQ Test</h5>
                <button type="button" class="btn-close" (click)="close()"></button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>Enter your Join Code</label>
                        <input type="text" class="form-control" id="joinCode" [(ngModel)]="joinCode" name="joinCode"
                            placeholder="e.g. 'ABC-1234'">
                        <label for="testCategory">Select Test Category:</label>
                        <select class="form-select" id="testCategory" name="testCategory" [(ngModel)]="selectedCategory">
                          <option value="JAVA">JAVA</option>
                          <option value="ANGULAR">ANGULAR</option>
                        </select>
                    </div>

                    <!-- Test session Search Status-->
                    <p> {{mcqTestDisplayStatus}} {{mcqTestData.scheduledAt | date: 'dd MMM yyyy (EEEE), hh:mm a'}} </p>

                    <!-- MCQ Test Session Details -->
                    <div class="container mt-4" aria-disabled="true" *ngIf="showSessionDetails">
                        <div class="row">
                            <!-- Left Section: Test Details (20% Width) -->
                            <div class="col-md-0">
                                <div class="card p-3">
                                    <h5>Session Details</h5>
                                    <p><strong>Test Id:</strong> {{ joinCode }}</p>
                                    <p><strong>Come Back In: </strong> <app-countdown [futureDate]="mcqTestData.scheduledAt"
                                            *ngIf="showCountdown" style="display: inline-block;"></app-countdown> </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Join</button>
                </form>
            </div>
        </div>
    </div>
</div>