<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Kv Quiz</a>
    <h6 class="navbar-text">(v1.0)</h6>

    <!-- Logged-in user details on the right -->
    <div class="d-flex ms-auto">
      <span class="navbar-text">Username: {{ username }}</span>
    </div>
    <button class="btn btn-light btn-sm change-user-btn" *ngIf="userLoggedIn && !testInProgress" (click)="changeUser()">
      Change User
    </button>
  </div>
</nav>