<!-- Enter Your Name Functionality -->
<!-- Simple Bootstrap Popup -->
<div class="modal fade show d-block" *ngIf="!userLoggedIn" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                Welcome User!
            </div>
            <div class="modal-body">
                <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                        <input type="text" id="username" [(ngModel)]="username" name="username" required placeholder="Enter your name" class="form-control" formControlName="textInput">
                        <div *ngIf="myForm.controls['textInput'].invalid && myForm.controls['textInput'].touched"
                            class="text-danger">
                            This field cannot be empty.
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="quiz-action-container" *ngIf="userLoggedIn">
    <div class="container text-center mt-5">
        <h2>Select an Option</h2>

        <div class="row justify-content-center mt-4">
            <!-- Join Live MCQ Test -->
            <div class="col-md-6 d-flex">
                <div class="card shadow p-3 mb-5 bg-white rounded flex-fill">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Join Live MCQ Test</h5>
                        <p class="card-text">Enter an pre-scheduled Test session.</p>
                        <!-- <button class="btn btn-success">Join Test</button> -->
                        <div class="mt-auto">
                            <button class="btn btn-success" (click)="joinLiveTest()">Join Test</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Start New MCQ Test -->
            <div class="col-md-6 d-flex">
                <div class="card shadow p-3 mb-5 bg-white rounded flex-fill">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Start New Offline MCQ Test</h5>
                        <p class="card-text">Create custom MCQ Tests and challenge yourself.</p>
                        <!-- <button class="btn btn-primary" disabled>Start Test</button> -->
                        <div class="mt-auto">
                            <button class="btn btn-primary" disabled>Start Test (Coming Soon!)</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-join-live-test-popup [showPopup]="showJoinLivePopup" (closePopup)="showJoinLivePopup = false"></app-join-live-test-popup>